dataset/data/train/train.token.code filter=lfs diff=lfs merge=lfs -text
dataset/data/train/train.token.nl filter=lfs diff=lfs merge=lfs -text
dataset/data/train/train.token.sbt filter=lfs diff=lfs merge=lfs -text
dataset/data/train/train_ast.json filter=lfs diff=lfs merge=lfs -text
dataset/data/valid/valid.source filter=lfs diff=lfs merge=lfs -text
dataset/data/valid/valid.token.code filter=lfs diff=lfs merge=lfs -text
dataset/data/valid/valid.token.nl filter=lfs diff=lfs merge=lfs -text
dataset/data/valid/valid.token.sbt filter=lfs diff=lfs merge=lfs -text
dataset/data/valid/valid_ast.json filter=lfs diff=lfs merge=lfs -text
dataset/data/test/test.source filter=lfs diff=lfs merge=lfs -text
dataset/data/test/test.token.code filter=lfs diff=lfs merge=lfs -text
dataset/data/test/test.token.nl filter=lfs diff=lfs merge=lfs -text
dataset/data/test/test.token.sbt filter=lfs diff=lfs merge=lfs -text
dataset/data/test/test_ast.json filter=lfs diff=lfs merge=lfs -text
dataset/10_folds/fold_1 filter=lfs diff=lfs merge=lfs -text
dataset/10_folds/fold_2 filter=lfs diff=lfs merge=lfs -text
dataset/10_folds/fold_3 filter=lfs diff=lfs merge=lfs -text
dataset/10_folds/fold_6 filter=lfs diff=lfs merge=lfs -text
dataset/10_folds/fold_7 filter=lfs diff=lfs merge=lfs -text
dataset/10_folds/fold_8 filter=lfs diff=lfs merge=lfs -text
dataset/10_folds/fold_10 filter=lfs diff=lfs merge=lfs -text
dataset/10_folds/fold_4 filter=lfs diff=lfs merge=lfs -text
dataset/10_folds/fold_5 filter=lfs diff=lfs merge=lfs -text
dataset/10_folds/fold_9 filter=lfs diff=lfs merge=lfs -text
